# Python 仮想環境
venv/

# Node
node_modules/
.next/

# Python キャッシュ
__pycache__/
*.pyc

# root
/node_modules
/.next

#テスト
/coverage

#本番
/build

#next.js
/out/

#ローカル環境ファイル
.env*.local
.env

#デバッグ
npm-debug.log*
yarn-debug.log*
yarn-error.log*


#typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Storedir .gitignore
